/* Import the light font */
@font-face {
    font-family: 'SaliecLight';
    src: url('../assets/fonts/saliec-light.ttf') format('truetype'); /* Adjust path based on your structure */
    font-weight: 300; /* Light font weight */
    font-style: normal; /* Set style */
}

/* Import the regular font */
@font-face {
    font-family: 'SaliecRegular';
    src: url('../assets/fonts/saliec-regular.otf') format('opentype'); /* Adjust path based on your structure */
    font-weight: 400; /* Regular font weight */
    font-style: normal; /* Set style */
}

.file-upload-container {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(129, 128, 128, 0.3);  /* Box shadow for depth */
    display: flex;
    flex-direction: column;  /* Stack all elements vertically */
    justify-content: flex-start;  /* Align content to the top */
    align-items: flex-start;      /* Align content to the left */
    height: auto;  /* Allow height to expand based on content */
    width: 80%;
    max-width: 800px;  /* Restrict maximum width for better responsiveness */
    border-radius: 16px;
    padding: 20px;  /* Add padding to create space between the content and the box edges */
    margin: auto;  /* Center the container */
}

.header {
    display: flex;
    flex-direction: column; /* Stack the headers vertically */
    align-items: flex-start; /* Align the headers to the left */
    width: 100%;  /* Ensure the header takes up full width */
    margin-bottom: 20px;  /* Add space below the header */
}

h1, h2 {
    margin: 0;  /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1 {
    font-family: 'SaliecRegular', sans-serif;
    font-size: 32px;
    color: #000000;
}

.header-byline {
    font-family: 'SaliecLight', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 5px;
}

.dragdrop-section {
    width: 100%;  /* Make the drag-and-drop section full width */
    margin-bottom: 20px;  /* Add space below the drag-drop section */
}

.uploading-section {
    width: 100%;  /* Ensure uploading section takes full width */
    margin-top: 20px;
}

.upload-instructions {
    font-family: 'SaliecLight', sans-serif;
    font-size: 10px;
    color: #000000;
    margin-top: -40px;
}

.generate-buttons {
    display: flex;
    justify-content: center;  /* Center the buttons */
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    font-family: 'SaliecRegular', sans-serif;
}

.btn {
    flex: 1;  /* Make both buttons take equal width */
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn.purple {
    background-color: #A020F0;
    color: #FFFFFF;
    font-family: 'SaliecRegular', sans-serif;
}

.btn.dark-purple {
    background-color: #4B0082;
    color: #FFFFFF;
    font-family: 'SaliecRegular', sans-serif;
}
